/*
 * Light & Dark Mode variables
 * see https://github.com/ej8899/conColors 
 * for details on light and dark mode setup
 */

:root {
  --rich-black: #0a0a0aff;
  --eerie-black:#1a181aff;
  --davys-grey: #505050ff;
  --persian-red:#d1342fff;
  --black-olive:#434038ff;
  --dutch-white:rgb(179, 173, 156);
}

:root.dark {
  --bodybackgroundcolor: var(--eerie-black);
  --iconcolor: var(--dutch-white);
  --cardbackgroundcolor: rgb(50, 50, 50);
  --tweetcontentcolor: var(--dutch-white);
  --wasteal: var(--davys-grey);
  --red: var(--persian-red);
  --submitformcolor: var(--dutch-white);
  --titleglowcolor: teal;
  --headerbordercolor: var(--dutch-white);
  --errorboxcolor: rgba(214, 207, 5, 0.675);
  --darkiconcolor: var(--eerie-black);
  color-scheme: dark;
}

:root.light {
  --bodybackgroundcolor: rgba(73,143,143,0.536);
  --iconcolor: #545149;
  --cardbackgroundcolor: #e7cda2;
  --tweetcontentcolor: #545149c3;
  --wasteal: teal;
  --red: red;
  --submitformcolor: #f3b860c9;
  --titleglowcolor: #FD5901;
  --headerbordercolor: rgb(3, 84, 84);
  --errorboxcolor: rgba(255, 0, 0, 0.328);
  --darkiconcolor: var(--eerie-black);
  color-scheme: light;
}

:root {
  --bodybackgroundcolor: rgba(73,143,143,0.536);
  --iconcolor: #545149;
  --cardbackgroundcolor: #e7cda2;
  --tweetcontentcolor: #545149c3;
  --wasteal: teal;
  --red: red;
  --submitformcolor: #f3b860c9;
  --titleglowcolor: #FD5901;
  --headerbordercolor: rgb(3, 84, 84);
  --errorboxcolor: rgba(255, 0, 0, 0.328);
  --darkiconcolor: var(--eerie-black);
  color-scheme: light;
}

.property-listings {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column; }

.property-listing {
  margin: 20px 0;
  width: 100%;
  max-width: 600px;
  height: 200px;
  border: 2px solid var(--headerbordercolor);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  background-color: var(--cardbackgroundcolor);
}
  .property-listing__title {
    font-size: 1.0rem;
  }
  .property-listing__preview-image {
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-width: 50%; 
  }
    .property-listing__preview-image img {
      display: block;
      max-width: 230px;
      width:100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      
      /* ORIGINAL CSS:
      min-width: 100%;
      height: 100%;
      */
      padding: 0;
    }

@media screen and (max-width: 400px) {
  .property-listing {
    flex-direction: column;
    height: 400px; } }
.search-property-form, .login-form, .new-property-form, .sign-up-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto; }
  .search-property-form__field-wrapper, .login-form__field-wrapper, .new-property-form__field-wrapper, .sign-up-form__field-wrapper {
    width: 100%;
    display: flex; }
  .search-property-form label, .login-form label, .new-property-form label, .sign-up-form label {
    display: none; }
  .search-property-form textarea, .search-property-form select, .search-property-form input, .search-property-form label, .login-form textarea, .login-form select, .login-form input, .login-form label, .new-property-form textarea, .new-property-form select, .new-property-form input, .new-property-form label, .sign-up-form textarea, .sign-up-form select, .sign-up-form input, .sign-up-form label {
    margin: 5px 5px;
    width: 100%; }

.page-header__user-links ul {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1em;
  list-style: none;
  display: flex; }
  .page-header__user-links ul li {
    padding: 0;
    margin: 0 10px;
    cursor: pointer; }

.hidden {
  display: none; }

/*# sourceMappingURL=main.css.map */


/*

CUSTOM CSS:

*/


.hoverbutton:hover {
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 3px;
}


.gradient-title {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 4em;
  background-color: #f3ec78;
  padding: 5px;
  background: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%,         
        #CA4246 50%, 
        #E16541 66.666%, 
        #E16541 66.666%, 
        #F18F43 83.333%, 
        #F18F43 83.333%
        );
  border-bottom: 3px solid #E21143;
  background-size: 100%;

  -moz-text-stroke-color: rgb(17, 17, 17);
  -webkit-text-stroke-color: rgb(17, 17, 17);
  -moz-text-stroke-width: 2px;  
  -webkit-text-stroke-width: 2px;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  animation: rainbow-title-rev 0.75s ease forwards;
}
.gradient-title:hover {
  animation: rainbow-title-fwd 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-title-rev {
  0% {
      background-size: 650%;
  }
  40% {
      background-size: 650%;
  }
  100% {
      background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-title-fwd {
  0% {
      background-size: 100%;
  }
  80% {
      background-size: 650%;
  }
  100% {
      background-size: 650%;
  }
}

.property-listing__details {
  padding-right: 5px;
  padding-left: 20px;
  width: 50%
}
.property-listing__details ul {
  width: 100%
}

body {
  background-color: var(--bodybackgroundcolor);
}